# git ignore file
#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.cachefile
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

ThrobaxTD/Achievements/Achievements.Windows.csproj
ThrobaxTD/EffectQueue/EffectQueue.Windows.csproj
ThrobaxTD/FlockAI/FlockAI.Windows.csproj
ThrobaxTD/InputDevices/InputDevices.Windows.csproj
ThrobaxTD/LightningEngine/LightningEngine.Windows.csproj
ThrobaxTD/Panels/Panels.Windows.csproj
ThrobaxTD/ParticleEngine/ParticleEngine.Windows.csproj
ThrobaxTD/ScreenManagerLibrary/ScreenManagerLibrary.Windows.csproj
ThrobaxTD/SoundSystem/SoundSystem.Windows.csproj
ThrobaxTD/Sprites/Sprites.Windows.csproj
ThrobaxTD/Textures/Textures.Windows.csproj
ThrobaxTD/ThrobaxTD.Windows.sln
ThrobaxTD/ThrobaxTD.Windows.speccache
ThrobaxTD/ThrobaxTD/ThrobaxTD.Windows.csproj
ThrobaxTD/TiledLevel/TiledLevel.Windows.csproj
ThrobaxTD/Utilities/Utilities.Windows.csproj
ThrobaxTD/WindGenerator/WindGenerator.Windows.csproj
ThrobaxTD/Achievements/Achievements.Linux.csproj
ThrobaxTD/EffectQueue/EffectQueue.Linux.csproj
ThrobaxTD/FlockAI/FlockAI.Linux.csproj
ThrobaxTD/InputDevices/InputDevices.Linux.csproj
ThrobaxTD/LightningEngine/LightningEngine.Linux.csproj
ThrobaxTD/Panels/Panels.Linux.csproj
ThrobaxTD/ParticleEngine/ParticleEngine.Linux.csproj
ThrobaxTD/ScreenManagerLibrary/ScreenManagerLibrary.Linux.csproj
ThrobaxTD/SoundSystem/SoundSystem.Linux.csproj
ThrobaxTD/Sprites/Sprites.Linux.csproj
ThrobaxTD/Textures/Textures.Linux.csproj
ThrobaxTD/ThrobaxTD.Linux.sln
ThrobaxTD/ThrobaxTD.Linux.speccache
ThrobaxTD/ThrobaxTD/ThrobaxTD.Linux.csproj
ThrobaxTD/TiledLevel/TiledLevel.Linux.csproj
ThrobaxTD/Utilities/Utilities.Linux.csproj
ThrobaxTD/WindGenerator/WindGenerator.Linux.csproj
